<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Slider
    </ion-title>
  </ion-toolbar>
  <ion-segment>
    <ion-segment-button>
      <ion-label>First</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>Second</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true">
    <ion-slide [attr.aria-label]="'First slide'">
      <ion-grid>
        <ion-row>
          <ion-col>1</ion-col>
          <ion-col>2</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>3</ion-col>
          <ion-col>4</ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide [attr.aria-label]="'Second slide'">
      <ion-grid>
        <ion-row>
          <ion-col>5</ion-col>
          <ion-col>6</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>7</ion-col>
          <ion-col>8</ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
